{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content%}
<section class="info-about">
    <div class="container">
        <div class="about-me">
            <h1>Know Who <strong class="deep-blue">I'M</strong></h1>
            <p>Info about me and my journey in programming...</p>
            <h2>Skills</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</section>

{% endblock content%}