{% extends 'home/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
    <section class="info-about">
        <div class="about container">
            <div class="banners-about">
                <div class="about-me">
                    <h1>Know Who <strong class="deep-blue">I'M</strong></h1>
                    <p>I am <span class="deep-blue">Daria</span> from <span
                            class="deep-blue">Petrozavodsk, Russia</span>.
                        <br>
                        I am studying Web Development at Computer Academy TOP.
                    </p>
                </div>
                <div class="about-picture">
                    <img src="{% static 'about/about_picture.svg' %}" alt="Coding girl">
                </div>
            </div>

            <h2 class="skills-h2">Professional <strong class="deep-blue">Skillset</strong></h2>
            <div class="my-skills">
                {% for skill in skills %}
                    <button class="skill-title">
                        <a href="{{ skill.url }}">{{ skill.title }}</a>
                    </button>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}