.projects h1{
    margin-bottom: 60px;
    text-align: center;
}

.my-project {
    display: table-cell;
    flex-wrap: wrap;
    width: 30%;
    margin-bottom: 60px;
    text-align: center;

}

.my-project img {
    width: 500px;
    margin-bottom: 20px;
}

.my-project p {
    padding: 23px 58px;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.5;
    min-height: 222px;
}

.my-project a {
    background-color: #6486c6;
    padding: .375rem .75rem;
    color: #FFFFFF;
    margin-right: 20px;
}